@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@100&family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@100&family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@100&family=Nunito:ital,wght@0,400;0,700;1,400&family=Poppins:wght@100&display=swap");

@import url(./assets/css/header.css);
@import url(./assets/css/banner.css);
@import url(./assets/css/escolha.css);
@import url(./assets/css/recomendação.css);
@import url(./assets/css/depoimento.css);
@import url(./assets/css/footer.css);
@import url(./assets/css/docesCarrosel.css);
@import url(./assets/css/amostras.css);
@import url(./assets/css/efeito.css);

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #0d0d14;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222222;
}
img {
  display: block;
  max-width: 100%;
}

*.foto {
  min-height: 800px;
  background-image: url(./assets/img/taylor-kiser-zJR-P9dIGu8-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
}

.parallax {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  margin-top: 100px;
}
/* Header */
