.amostras-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.5s;
  background-color: #20202e;
}

.card img {
  height: 352px;
  width: 351px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
}

.card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.amostras-container {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.amostras-titulo {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.6;
  font-family: "Dancing Script", cursive;
  text-transform: capitalize;
  color: #d99494;
}

.amostras-p {
  font-size: 35px;
  font-weight: 700;
  font-family: "poppins", sans-serif;
  color: #fff;
  margin-top: 2.5rem;
  line-height: 27px;
}
.amostras-p::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d99494;
  margin-top: 30px;
}

button {
  background-color: #d99494;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: coral;
}
