@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@100&family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@100&family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@100&family=Nunito:ital,wght@0,400;0,700;1,400&family=Poppins:wght@100&display=swap");

* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #0d0d14;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222222;
}
img {
  display: block;
  max-width: 100%;
}
